<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <title>入力確認画面</title>
  <link href="/css/register.css" th:href="@{/css/register.css}" rel="stylesheet" type="text/css" >
  <link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="bgimg"></div>
  <!------ヘッダー-->
  <header>
    <div class="inner">
      <div class="conteiner0">
        <div class="item0">
          <img src="imgs/２ページ目アイコン女.png" alt="">
        </div>
        <h1 class="item0a">入力情報を確認して登録ボタンを押してください</h1>
        <div class="item0">
          <img src="imgs/２ページ目アイコン男.png" alt="">
        </div>
      </div>
    </div>
  </header>
    <!--確認画面-->
  <main>
   <form action=".html" th:action="@{/b}" th:object="${userRequest}" th:method="post">
    <div class="inner2">
       <div class="conteiner2">
          <dl class="registrationitem">
            <div class="item2">
              <dt>お名前</dt>
                <dd><strong th:text="${user.yourname}"></strong><br/></dd>
                  <input type="hidden" name="yourname" th:value="${user.yourname}">
            </div>
            <div class="item2">
              <dt>ふりがな</dt>
                <dd><strong th:text="${user.furigana}"></strong><br/></dd>
                  <input type="hidden" name="furigana" th:value="${user.furigana}">
            </div>
            <div class="item2">
              <dt>電話番号</dt>
              <dd><strong th:text="${user.phonenumber}"></strong><br/></dd>
                <input type="hidden" name="phonenumber" th:value="${user.phonenumber}">
            </div>
            <div class="item2">
              <dt>メールアドレス</dt>
              <dd><strong th:text="${user.address}"></strong><br/></dd>
                <input type="hidden" name="address" th:value="${user.address}">
            </div>
            <div class="item2">
              <dt>生年月日</dt>
              <dd><strong th:text="${user.birthday}"></strong><br/></dd>
                <input type="hidden" name="birthday" th:value="${user.birthday}">
            </div>
            <div class="item2">
              <dt>性別</dt>
              <dd><strong th:text="${user.gender}"></strong><br/></dd>
                <input type="hidden" name="gender" th:value="${user.gender}">
            </div>
            <div class="item2">
              <dt>希望する職種</dt>
              <dd><strong th:text="${user.job}"></strong><br/></dd>
                <input type="hidden" name="job" th:value="${user.job}">
            </div>
            <div class="item2">
              <dt>お住まいの都道府県</dt>
              <dd><strong th:text="${user.live}"></strong><br/></dd>
                <input type="hidden" name="live" th:value="${user.live}">
            </div>
            <div class="item2">
              <dt>経験スキル</dt>
              <dd><strong th:text="${user.skill}"></strong><br/></dd>
                <input type="hidden" name="skill" th:value="${user.skill}">
            </div>
            <div class="item2">
              <dt>自己PR</dt>
              <dd><strong th:text="${user.message}"></strong><br/></dd>
                <input type="hidden" name="message" th:value="${user.message}">
            </div>
            <div class="item2">
              <dt>新規パスワード登録</dt>
              <dt><strong th:text="${user.password}"></strong><br/></dt>
                <input type="hidden" name="password" th:value="${user.password}">
            </div>
            <div class="item2">
              <dt>プライバシーポリシー</dt>
              <dd><strong th:text="${user.consentChk}"></strong><br/><br/></dd>
                <input type="hidden" name="consentChk" th:value="${user.consentChk}">
            </div>
          </dl>
      </div>
      <div class="button">
         <button onclick="location.href='b.html'">登録</button>
         <button type="button" onclick="history.back()">戻る</button>
      </div>
    </div>
  </form>
</main>
    <!----フッター-->

    <footer>
        <div class="bg-imgs">
          <div class="bg-footertext">
            <div class="inner">
              <div class="container05-1">
              <div class="container05">
                <div class="item05">
                  <a href="https://www..co.jp/"><img src="imgs/ロゴ_ヨコ組カラー.jpg" alt=""></a>
                </div>
              </div>
              <div class="container05">
                  <div class="item05">
                    <ul class="footertext">
                      <li>会社名</li>
                      <li></li>
                    </ul>
                    <ul class="footertext">
                      <li>所在地</li>
                      <li></li>
                    </ul>
                  </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <p class="end">Copyright&copy;2022 All rights reserved</p>
      </footer>
</body>
</html>

